<section
  class="flex flex-col items-center"
>
  <div
    class="flex justify-end py-8 w-11/12 md:w-4/5"
  >
    <label
      class="flex items-center relative z-0"
      for="order_select"
    >
      <span
        class="material-symbols-outlined mr-1"
      >
        swap_vert
      </span>
      <select
        class="border-b-2 border-b-secondary bg-transparent"
        (ngModel)="moviesOrder()"
        (change)="
          onSelectOrderProperty(
            $any($event.target).value
          )
        "
        id="order_select"
      >
        <option
          value="title"
          selected
        >
          By title
        </option>
        <option value="releasedDate">
          By release date
        </option>
      </select>
    </label>
  </div>
  <div
    class="flex justify-between items-center gap-y-3 flex-wrap w-11/12 md:w-4/5"
  >
    <app-movie-card
      *ngFor="let movie of sortedMovies"
      [movie]="movie"
    />
  </div>
</section>
